Repository b4mad/.github: changes, and which Prow jobs are due for each by the changed paths.
All: op1st/prow/peribolos, op1st/prow/labels, op1-st/prow/labels

op1st/prow/peribolos:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/peribolos:latest
      command:
      - /bin/sh
      args:
      - -c
  ...

op1st/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -ex
  
        /ko-app/label_sync \
  
        --config=labels.yaml \
  
        --orgs=b4mad \
  
        --token=/etc/github/oauth
  
        '
      volumeMounts:
  ...

op1-st/prow/labels:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:latest
      args:
      - --config=labels.yaml
      - --orgs=b4mad
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --github-app-id=$(GITHUB_APP_ID)
  ...

Update peribolos.yaml
  peribolos.yaml
Due: none

add pre-commit config
  .pre-commit-config.yaml
Due: op1st/prow/peribolos

fix prow config
  .prow.yaml
Due: none

🐛 ✨ fix a typo
  config.yaml
Due: op1st/prow/peribolos, op1-st/prow/labels

Create OWNERS
  OWNERS
Due: none

Update peribolos.yaml (#3)
  peribolos.yaml
Due: none

refactor: add thorsdottir, some minor cleanups
  .pre-commit-config.yaml
  .prow.yaml
  config.yaml
  peribolos.yaml
Due: op1st/prow/peribolos, op1-st/prow/labels

fix(prow): fix the oauth secret name
  .prow.yaml
Due: none

fix(prow): fix postsubmit label_sync job
  .prow.yaml
Due: none

Update .prow.yaml
  .prow.yaml
Due: none

feat: add mds-moderator repo
  config.yaml
Due: op1st/prow/peribolos, op1-st/prow/labels

add databox
  config.yaml
Due: op1st/prow/peribolos, op1-st/prow/labels

Path conditions:
  op1st/prow/peribolos: (any of: config.yaml) or (any of: ^config\.yaml$)
  op1st/prow/labels: any of: labels.yaml
  op1-st/prow/labels: any of: ^(config|labels)\.yaml$
